@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0px;
}

body{
    background-image: url('imagens/fundo001.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

header{
    max-width: 400px;
    min-width: 300px;
    background-color: #a5a461;
    margin: 10px auto;
    border: 2px solid blue;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 10px 0px;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    text-indent: 20px;
    margin: 10px 0px;
}

p{
    text-indent: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px auto;
    min-width: 300px;
    max-width: 750px;
}

li{
    font-family: 'Ubuntu', sans-serif;
}

main{
    max-width: 800px;
    min-width: 300px;
    background-color: #a5a461;
    margin: 10px auto;
    padding: 10px 0px;
    border: 2px solid blue;
    border-radius: 5px;
}

footer{
    width: 300px;
    background-color: #a5a461;
    margin: 10px auto;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
}

footer a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}